.inputWrapper {
  position: relative;
  width: 100%;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3); /* رنگ محو پیشنهاد */
  pointer-events: none;
  white-space: pre;
  font-size: 16px;
  font-family: sans-serif;
  padding: 8px;
}

.hintText {
  color: rgba(0, 0, 0, 0.2); /* رنگ متن پیشنهادی */
}

.textInput {
  position: relative;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: sans-serif;
  background: transparent;
  border: 1px solid #ccc;
  z-index: 1;
  color: #000;
}
